In [62]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
from tensorflow import keras

df = pd.read_csv("./boston.csv")

In [64]:
df

,Unnamed: 0,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,PRICE
0,0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...,...
20635,20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [66]:
#결측치 확인
missing_values = df.isnull().sum()
print(missing_values)

Unnamed: 0    0
MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
PRICE         0
dtype: int64

In [68]:
# 특성(X)과 타겟(y) 데이터 정의
X = df.drop(columns=['PRICE'], axis = 1) 
y = df['PRICE']

In [70]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [74]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error

# 모델 학습
model = RandomForestRegressor(max_depth=5, random_state=42)
model.fit(X_train, y_train)

# 예측
y_pred = model.predict(X_test)

# 회귀 평가 지표
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)

# 결과 출력
print(f"랜덤 포레스트 R^2 Score: {r2:.4f}")
print(f"랜덤 포레스트 MSE: {mse:.4f}")

랜덤 포레스트 R^2 Score: 0.6473
랜덤 포레스트 MSE: 0.4622

In [75]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error

# 모델 학습
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

# 예측
y_pred = model.predict(X_test)

# 평가 (회귀 문제이므로 r2_score, MSE 사용)
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)

# 결과 출력
print(f"랜덤 포레스트 R^2 Score: {r2:.4f}")
print(f"랜덤 포레스트 MSE: {mse:.4f}")

랜덤 포레스트 R^2 Score: 0.8161
랜덤 포레스트 MSE: 0.2410

In [76]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_squared_error

# 모델 학습
model_dt = DecisionTreeRegressor(max_depth=5, random_state=42)
model_dt.fit(X_train, y_train)

# 예측
y_pred = model_dt.predict(X_test)

# 평가 (회귀 문제이므로 R² Score와 MSE 사용)
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)

# 결과 출력
print(f"결정 트리 R^2 Score: {r2:.4f}")
print(f"결정 트리 MSE: {mse:.4f}")

결정 트리 R^2 Score: 0.5997
결정 트리 MSE: 0.5245

In [77]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

# 선형 회귀 모델 정의
model = LinearRegression()

# 정규화된 데이터 (Linear Regression을 위해 스케일링 필요)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# 모델 학습
model.fit(X_train_scaled, y_train)

# 예측
y_pred = model.predict(X_test_scaled)

# 성능 평가 (MSE 사용)
mse = mean_squared_error(y_test, y_pred)

# 결과 출력
print(f"선형 회귀 R^2 Score: {r2:.4f}")
print(f"선형 회귀 MSE: {mse:.4f}")

선형 회귀 R^2 Score: 0.5997
선형 회귀 MSE: 0.5547